.button {
  @extend %button;

  display: inline-block;
  min-width: 200px;
  padding: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $primaryWhiteColor;
  text-decoration: none;

  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
