$primaryWhiteColor: #fff;
$primaryTextColor: #757575;
$accentColor: #2196f3;
$titleTextColor: #212121;
$complementaryBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$footerComplementaryColor: rgba(255, 255, 255, 0.1);
$complementaryLogoColor: #000;
$clientBorderColor: #afb1b8;
$borderColorHeaderPortfolio: #ececec;
$borderColorPortfolio: #eeeeee;
$borderColorInput: #d8d8d8;

$primaryFontFamily: Roboto;
$logoFontFamily: Raleway;
